# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# uv.lock

# Byte-compiled / temp files
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.manifest
*.spec

# OS files
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/